body, html {
    margin: 0;
    height: 100%;
    width: 100%;
}

.conainer {
    height: 100%;
}

.rec-img {
    display: block;
    width: 90%;
    height: 90%;
}

.prod {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px double black;
}

.btn {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-btn {
    background-color: greenyellow;
    height: 50px;
}

header {
    text-align: center;
    background-color: wheat;
    border-bottom: 3px solid chocolate;
    position: fixed;
    top: 0;
    width: 100%;
    height: 7%;
}

footer {
    text-align: center;
    background-color: wheat;
    border-top: 3px solid chocolate;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7%;
}