body, html {
    margin: 0;
    height: 100%;
}

.container {
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background-color: wheat;
    width: 600px;
    height: 300px;
    border-radius: 10px;
    border: 3px solid chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 200px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
    color: black;
    font-weight: bold;
    font-size: 14pt;
    background-color: lemonchiffon;
    border-radius: 10px;
    border-color: coral;
}

button:hover {
    background-color: mediumseagreen;
    cursor: pointer;
}

label {
    display: flex;
}

input {
    width: 400px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 7px;
    font-size: 12pt;
    font-weight: bold;
    border-color: coral;
}

input:focus {
    background-color: lightgreen;
}

header {
    text-align: center;
    background-color: wheat;
    border-bottom: 3px solid chocolate;
    position: fixed;
    top: 0;
    width: 100%;
    height: 7%;
}

footer {
    text-align: center;
    background-color: wheat;
    border-top: 3px solid chocolate;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7%;
}