body, html {
    margin: 0;
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    background-color: cornsilk;
}

.categories {
    padding-top: 20px;
    border-right: 8px double black;
}

.cat-li {
    padding-top: 20px;
    font-size: larger;

}

header {
    text-align: center;
    background-color: wheat;
    border-bottom: 3px solid chocolate;
    position: fixed;
    top: 0;
    height: 5%;
}

.recently {
    background-color:khaki;
    height: 30%;
}

.prod {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px double black;
}

.rec-img {
    display: block;
    width: 90%;
    height: 90%;
}

.popular {
    height: 70%;
    background-color:khaki;
}

footer {
    text-align: center;
    background-color: wheat;
    border-top: 3px solid chocolate;
    position: fixed;
    bottom: 0;
    height: 5%;
}